*{
    margin: 0px;
    padding:0px;
}
.product-container{
    display: flex;
    border-bottom:1px solid lightgray;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.product-img{
    margin-right: 10px;
}
.product-description{
    padding:10px
}
.product-description h2{
    color: blue;
    font-weight: 400;
    
}
.product-description h4,.product-description h5{
    padding:5px;
    font-size: 20px;
    font-weight: 300;
}
.product-description button{
    background-color: rgb(255, 196, 85);
    padding: 5px 60px;
    font-size: 15px;
    border-radius: 3px;
    border:none;
    margin-top: 5px;
}